<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="#" />
    <title>Canvas</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
  </head>
  <body>
    <canvas id="canvas"
      >You are currently NOT seeing an interactive game because your browser
      does not support this feature.
    </canvas>
    <ol id="toolbar">
      <li class="tool selected" id="move">M</li>
      <li class="tool" id="draw">D</li>
    </ol>
    <script type="module" src="/scripts/script.js"></script>
  </body>
</html>
